p.animacion{
    font-size: 15px;
    color: blue;
    background-color: aqua;
    text-align: center;
    width: 500px;
    height: auto;
    /*firefox */
    -moz-transition: font-size 1000ms linear 0s;
    /* chrome / safari */
    -webkit-transition: font-size 1000ms linear 0s;
    /* default */
    transition: font-size 1000ms linear 0s;;
}
p.animacion:hover{
    font-size: 30px;
    color: red;
}